body {
    background-color: lightgrey;
    width: 60%;
    height: 10cm;
    margin: auto;
    text-align: center;

    
    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

p {
    font-size: larger;
}

strong {
    color: red;
    font-size: larger;
}

div {
    border: solid;
    padding: 12%;
    border-image-source:url(Képek\\Cartoon.jfif);
    box-shadow:20px 20px 25px black;
    background-color: lightgoldenrodyellow;
    border-image-width: 120%;
    border-image-slice:fill;
}